/************************
  Front Page Styles
*************************/

.panel-docklands-fp  .background-image {

height: 100%;

}

.panel-docklands-fp {
min-height: 10em;
}
.panel-docklands-fp.data {
min-height: 23em
}

.panel-docklands-fp.data .seemore {
position: absolute;
top: 9.3em;
right: 0.85em;
padding-top: 1.2em;

height: 4em;
width: 8em;

text-align: center;
font-size: 18px;
font-weight: 600;

background-color: #FF8700;

visibility: hidden;
opacity:0;
transition:visibility 0s linear 0.5s,opacity 0.5s linear;
}
.seemore a, .seemore a {
text-decoration: none;
color: #333!important
}
.panel-docklands-fp.data .panel-img {background-color: #444}

.panel-docklands-fp:hover .seemore {
visibility:visible;
opacity:0.95;
transition-delay:0.1s;
}

.panel-docklands-fp.data:hover .panel-img img {
opacity: 0.8;
}

.panel-docklands-fp .panel-img {
height: 14em;
overflow: hidden
}

.panel-docklands-fp.data .panel-img img {
transition:visibility opacity 0.1s linear;
}
