/********************
  Main Docklands CSS 
*********************/

/*******
 Basics
********/

body {
font-family: Arial, Helvetica, sans-serif;
line-height: 20px;
color: #050505;
}

.ep_summary_box_title, .ep_summary_box_body, .ep_sr_title_bar, .ep_sr_content, .ep_sr_collapse_bar, .ep_tab_panel, .ep_toolbox_content, .ep_upload_doc, .ep_search_buttons, .ep_search_controls, .ep_search_controls_bottom, .ep_view_group_by {
background-color: #fff;
}

#main_page > nav, #main_page > main {margin-bottom: 1em}

#main_page {font-size: 14px}

#main_title {margin-left: -15px}

.ep_tm_key_tools li {border: none!important}

.ep_tm_key_tools ,.shadow, .ep_tm_page_content {
box-shadow: none;
}
.shadow {
box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
padding: 5px
}

.ep_tm_page_content {
width: 100%;
min-width: 0;
margin-top: 0
}

#page  h1 {
position: relative;
left:-5px;
display: inline-block;
text-align: center;
text-align: left;
vertical-align: middle;
border: 1px solid transparent;
padding: 6px 12px;
line-height: 1.42857143;
color: #fff
}

.glyphsize {font-size: 18px}

#file_aside > div {
box-shadow: -10px 0px 10px -7px rgba(0,0,0,0.5);
padding-left: 1em
}

.ep_summary_box_title {
border: none;
}

/*******
 Helpers
********/

.hidden {display: position: absolute; left -9999px; top:-9999px}
