/************
  Theme CSS 
*************/
body {
font-size: 10px!important;
}

/*******
 Roboto
********/
body {font-family: 'Roboto', sans-serif;}
h1 {font-family: 'Roboto Slab', sans-serif;}
a {font-family: 'Roboto Condensed', sans-serif;}

#add_item {

position: absolute;
right: 2em;
top: 6em; 
width: 32em

}
#add_item p {
display: inline-block;
width: 22em;
}
#add_item h3 {
margin-top: 4px;
}

/**********
  Top Bit   
**********/

#uel-navbar {
border: none;
border-radius: 0;
}
.navbar {
min-height: 4em;
margin-bottom: 0!important;

}
a.navbar-brand {
 color: #fff!important;
}
#uel-navbar, #uel-navbackground a {
color: #0094d5;
}
.navbar { background: #0094d5}

.navbar-collapse {
border: none;
box-shadow: none;
}

.navbar-header .brand {
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color: #fff;
}
.navbar-default .navbar-toggle .icon-bar {
background-color: #fff;
}
.navbar-default .navbar-toggle:focus .icon-bar , .navbar-default .navbar-toggle:hover .icon-bar {
background-color: #009bd9;
}

#topnav > ul > li.active {
        display: none;
}


#header_icons {
padding: 15px;
font-size: 18px;
line-height: 20px;
height: 50px;
}
#header_icons a span {
color: #fff;
}

@media screen and (min-width:768px){

#topnav > ul > li.active {
        display: block;
}

#uel-navbar, #uel-navbackground a {
color: #fff;
}

#main_page {
        margin-top: 1em;
        min-height: 20em;
}


#uel-navbackground {
border-bottom: 2px solid #d9d9d9;
}
.navbar {
font-size: 10px;
font-family: Arial;
height: 4em;
//background: #0094d5;
}
.navbar a {
text-decoration: none;
-webkit-transition: all 0.15s ease-in-out;
-moz-transition: all 0.15s ease-in-out;
-ms-transition: all 0.15s ease-in-out;
-o-transition: all 0.15s ease-in-out;
transition: all 0.15s ease-in-out;
//line-height: 2.5em;
color: #fefefe;
font-family: Arial;
display: inline-block;
height: 161%;
text-align: center;
//background: #0094d5;
}

.navbar-header a, #topnav a {
font-size: 16px;
}

#topnav > ul > li.active > a, #topnav > ul > li:hover > a, .navbar-header a:hover {
background: #003471;
color: white;
}
.navbar-header a:hover {
background: #003471!important;

}

li.no-hover:hover > a {
background: none!important;
}
.navbar-brand, #topnav > .navbar-nav > li > a, .navbar-brand, #topnav > .navbar-nav > li > span {
padding-top: 10px!important;
padding-bottom: 10px!important
}

.navbar-header .brand {
}
#lowernav {
padding-top: 1.3em;
/*left: 8.2em;   Causing right side whitespace*/
left: 0em;
margin-left: 8.2em;
position: relative;
}

#lowernav .logo-wrapper {
float: left
}

#lowernav ul {
padding-top: 3.7em;
}
#lowernav li > a {
text-decoration: none;
font-size: 1.6em;
color: #3e3e3e;
font-family: Arial;
font-weight: bold;
display: inline-block;
padding: 0.875em 1.15em 1.75em;
-webkit-transition: -webkit-transform, 0.15s, ease-in-out;
-moz-transition: -moz-transform, 0.15s, ease-in-out;
-o-transition: -o-transform, 0.15s, ease-in-out;
transition: transform, 0.15s, ease-in-out;
}

}

#lowernav li > a:hover {
border: 0 none;
color: #0063A4;
text-transform: none;
}

/************
 prime stuff
************/

.panel-docklands-prime, .panel-docklands-fp {
border-radius: 0!important;
}
.panel-docklands-prime .panel-body, .panel-docklands-fp > .panel-body {
border-top: 0px solid #ddd!important
}
.panel-docklands-prime > .panel-heading, .panel-docklands-fp > .panel-heading {
background-color: #0094d5;
color: #fff;
border-top-right-radius: 0px;
border-top-left-radius: 0px;
border-bottom: 0px solid transparent!important
}

/************
************/

ul#latest_tool {
margin-top: 8em;
}
.panel-card {
margin-left: 15px;
margin-right: 15px;
min-height: 4rem;
height: auto;
}

.panel-card i { font-size: 3em}

