/*********************
  Summary Page Styles
*********************/

.summary-widget {

margin-bottom: 1em;

}

#summary_citation > .tab-content {
min-height: 7em;

}


/*******************************
 float the buttons to the right
*******************************/


#summary_citation > .btn-group, #summary_abstract button, #summary_metadata button {

float: right;

}

.see-more button {
margin-top: 2em;
}



#summary_citation > .btn-group > li.active button {

background-color: #005e9f

}
#summary_citation > .btn-group > li.active button {
color: #fff;
}


#summary_reviewed > .btn {
width: 100%
}

.btn-not-btn:hover, .btn-not-btn:active {
background-color: #5cb85c;
border-color: #4cae4c;
-webkit-box-shadow: none;
box-shadow: none;
}

/**************** 
 Download styles
****************/

.ep_doc_icon {
float: right;
}


.altmetric_error {
display: none;
}

