/*********************
  Summary Page Styles
*********************/

.summary-widget {

margin-bottom: 1em;

}

#summary_citation > .tab-content {

min-height: 7em;

}
#summary_citationi > .btn-group{

float: right;

}
